.barVolumeBlock {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 92px 0 0;
}

.volumeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end; 
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volumeProgress {
  width: 109px;
}

.volume__progress-line {
  width: 109px;
}

.btn {
  cursor: pointer;
 }

@media (max-width: 1024px) {
  .barVolumeBlock {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  
}
